*{
    margin: 0%;
    padding: 0%;
    color: #666;
    text-decoration: none !important;
}
:root {
    --background: #f7f7f7;
    --red-color: #f25454;
    --font-color: #282828;
}
body{
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #282828;
    font-weight: 600;
}
.navbar {
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}
.navbar li {
    font-size: 14px;
    font-weight: 500;
}
.nav-item .red{
    color: var(--red-color) !important;
}
.nav-item{
    -webkit-transition: color 1s;
    cursor: pointer;
}
.navbar-icon{
    color: #fff;
    -webkit-transition: color 1s;
    cursor: pointer;
}
.nav-item .nav-link:hover{
    color: #f25454;
}
.navbar-icon .icons:hover{
    color: #f25454;
}
.header-layer-1 {
    background-image: url(slideshow-1.jpg);
}
.header-layer-2 {
    background-image: url(slideshow-2.jpg);
}
.header-layer-3 {
    background-image: url(slideshow-3.jpg);
}
.header-content h5 {
    font-weight: 700 !important;
    line-height: 1;
    font-size: 70px !important;
    font-family: 'Poppins', sans-serif;
}
.header-layer-1, .header-layer-2, .header-layer-3 {
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.icon-fixed {
    top: 20%;
    background-color: #1f2528;
    padding: 10px;
}
.icon-fixed .icons {
    color: #fff;
    font-size: 20px;
}
.about .title{
    position: relative;
    margin-top: 50px;
}
.about .title h2 {
    font-size: 5rem;
    color: #dee3e4 !important;
    opacity: 0.4;
    font-weight: 600 !important;
}
.about .title p{
    position: absolute;
    top: 40%;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    color: var(--font-color);
}
.about .title p::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30%;
    background-color: black;
    height: 2px;
    width: 50%;
    transform: translateX(-50%);
    transition: all 2s;
    
}
.about .title p:hover{
    width: 18%;
}
.about-content .about-desc p {
    font-size: 20px;
    color: #999;
    margin-bottom: 70px;
}
.about-left p{
    color: #666;
    font-size: 15px;
    line-height: 1.75rem;
}
.about-skill .progress-skill {
    width: 100%;
    height: 5px !important;
    margin: -5px 0 15px 0;
    background-color: #eee;
}
.about-skill .progress-skill .progress-bar {
    height: 100% !important;
    background-color: var(--red-color);
}
.percent-80{
    width: 80%;
}
.percent-95{
    width: 95%;
}
.percent-85{
    width: 85%;
}
.percent-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-95{
    width: 95%;
}
.w-85{
    width: 85%;
}
.w-70{
    width: 70%;
}
.team .title{
    position: relative;
    margin-top: 50px;
}
.team .title h2 {
    font-size: 5rem;
    color: #dee3e4 !important;
    opacity: 0.4;
    font-weight: 600 !important;
}
.team .title p{
    position: absolute;
    top: 40%;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    color: var(--font-color);
}
.team .title p::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30%;
    background-color: black;
    height: 2px;
    width: 50%;
    transform: translateX(-50%);
    transition: all 2s;
    
}
.team .title p:hover{
    width: 18%;
}
.team-content .team-desc p {
    font-size: 20px;
    color: #999;
    margin-bottom: 70px;
}
.team .person .img-container {
    overflow: hidden;
}
.team .person img {
    width: 100%;
}
.team .name {
    font-weight: bold;
    transition: 0.5s;
    color: var(--font-color);
}
.team .name:hover{
    color:#f25454;
}
.team .contact-info p {
    font-size: 40px;
}
.team .btn {
    background: var(--red-color);
    color: #fff;
    height: fit-content;
    padding: 10px 20px;   
}
.team .idea{
    color: var(--font-color);
}
.serv{
    background-color: #fafafa;
}
.serv .title{
    position: relative;
    margin-top: 50px;
}
.serv .title h2 {
    font-size: 5rem;
    color: #dee3e4 !important;
    opacity: 0.4;
    font-weight: 600 !important;
}
.serv .title p{
    position: absolute;
    top: 40%;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    color: var(--font-color);
}
.serv .title p::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30%;
    background-color: black;
    height: 2px;
    width: 50%;
    transform: translateX(-50%);
    transition: all 2s;
    
}
.serv .title p:hover{
    width: 18%;
}
.serv .serv-desc p {
    font-size: 20px;
    color: #999;
    margin-bottom: 70px;
}
.services svg{
    color: #f25454;
}
.services h3 {
    font-size: 18px;
    line-height: 32px;
    transition: color .3s;
    color: var(--font-color);
}
.services h3:hover{
    color: #f25454;
}
.clients .title{
    position: relative;
    margin-top: 50px;
}
.clients .title h2 {
    font-size: 5rem;
    color: #dee3e4 !important;
    opacity: 0.4;
    font-weight: 600 !important;
}
.clients .title p{
    position: absolute;
    top: 40%;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    color: var(--font-color);
}
.clients .title p::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30%;
    background-color: black;
    height: 2px;
    width: 50%;
    transform: translateX(-50%);
    transition: all 2s;
    
}
.clients.title p:hover{
    width: 18%;
}
.client-content .desc p {
    font-size: 20px;
    color: #999;
    margin-bottom: 70px;
}
.carousel-indicators [data-bs-target] {
    width: 130px;
    height: 130px;
    text-indent: 0;
    border-radius: 50%;
    margin-right: 20px;
}
.carousel-indicators img {
    width: 100%;
    border-radius: 50%;
    height: 130px;
}
.carousel-item .info {
    width: 48%;
}
.carousel-item span {
    font-size: 25px;
    line-height: 1.5em;
}
.contact{
    background-color: #fafafa;
}
.contact-content .title{
    position: relative;
    margin-top: 50px;
}
.contact-content .title h2 {
    font-size: 5rem;
    color: #dee3e4 !important;
    opacity: 0.4;
    font-weight: 600 !important;
}
.contact-content .title p{
    position: absolute;
    top: 40%;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    color: var(--font-color);
}
.contact .title p::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30%;
    background-color: black;
    height: 2px;
    width: 50%;
    transform: translateX(-50%);
    transition: all 2s;
    
}
.contact.title p:hover{
    width: 18%;
}
.contact-content .desc p {
    font-size: 20px;
    color: #999;
    margin-bottom: 70px;
}
.contact p.desc {
    font-size: 25px;
    line-height: 32px;
    color: #282828 !important;
    font-weight: 700 !important;
}
.contact .contact-icon svg {
    font-size: 40px;
    line-height: 40px;
}
.contact svg {
    color: #f25454;
}
.contact .contact-info h6 {
    font-size: 18px;
    color: #282828;
    font-weight: bold;
    transition: color .5s;
}
.contact .contact-info h6:hover{
    color: #f25454;
}
.contact form input, textarea {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border: 2px solid #eee !important;
    padding: 14px 18px;
    width: 100%;
    margin-bottom: 20px;
    transition: border 0.5s;
}
.contact form input:hover{
   border: 2px solid  #f25454!important;
}
.btn-send a {
    color: #fff;
    background-color: var(--red-color);
    padding: 1rem 2.6rem;
    font-weight: 600;
    font-size: 16px;
}
.btn-send a:hover{
    background-color:rgba(167, 60, 60, 0.9);
}
.footer {
    background-image: url(dotted-map.png);
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
    background-color: #222;
    padding-top: 60px;
}
.top{
    background-color: rgba(167, 60, 60, 0.9);
    padding: 15px;
    transition: color 2s;
}
.top:hover{
    background-color: #f25454;
}
.top svg {
    color: #fff;
    width: 20px;
    height: 20px;
}
.footer p {
    margin: 7px 0;
    color: #b0b0b0;
}
.footer-map a p {
    transition: color .3s;
}
.footer-map a p:hover{
    color: #f25454;
}
.tags a button {
    border: 1px solid #fff;
    padding: 3px 6px;
    margin: 0 5px 20px 0 !important;
    background-color: transparent;
    color: #fff;
    transition: color .8s ,border .8s;
}
.tags a button:hover{
    border: 1px solid #f25454;
    color: #f25454;
}
.footer-last {
    background-color: #1a1a1a;
    padding: 30px 0;
}
.footer-social svg {
    color: #fff;
    transition: color .5s;
    margin-left: 20px;
}
.copyright a {
    color: #fff;
    transition: color .5s;
}
.copyright a:hover{
    color: #f25454;
}
